<div>
  <div class="text-center">
    <h1>Welcome to timesup !</h1>
  </div>

  <% if current_user %>
    <%= "#{current_user.name} connected" %>
    <ul>
      <% current_user.games.each do |game| %>
        <li>
          <%= link_to game.name, game_path(game.slug) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    no one connected
  <% end %>
</div>
