<div>
  <div class="row mb-5">
    <div class="col text-center">
      <h1>Welcome to timesup !</h1>
    </div>
  </div>

  <div class="row">
    <% if current_user %>
      <div class="col">
        <ul>
          Im admin of this games :
          <% @user_games.each do |game| %>
            <li>
              <%= link_to game.name, game_path(game.slug) %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col">
        <ul>
          Im player of this games :
          <% current_user.games.order(created_at: :desc).each do |game| %>
            <li>
              <%= link_to game.name, game_path(game.slug) %>
              <% if game.state == "finished" %>
                delete
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      no one connected
    <% end %>
  </div>
</div>
